# Pythonによるデータ分析入門 第2版（Python for Data Analysis）
https://github.com/wesm/pydata-book

# 3章 Python組み込みのデータ構造と関数、ファイルの扱い（Built-in Data Structures, Functions, and Files）

## 3.1 データ構造とシーケンス（Data Structures and Sequences）

### 3.1.1 タプル（Tuple）

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

's'

In [7]:
tup = tuple(['foo', [1, 2], True])

In [8]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [9]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [10]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [11]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### 3.1.1.1 タプルの分解（Unpacking tuples）

In [12]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [13]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

多くの言語では下記のように書くが
```python
tmp = a
a = b
b = tmp
```

In [15]:
a, b = 1, 2
print("a",a)
print("b",b)
b, a = a, b
print("a",a)
print("b",b)

a 1
b 2
a 2
b 1

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [18]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [19]:
rest

[3, 4, 5]

In [21]:
# 不要な変数に _ 
a, b, *_ = values

#### 3.1.1.2 タプルのメソッド（Tuple methods）

In [22]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### 3.1.2 リスト（List）

In [23]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [24]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [25]:
gen = range(10)
gen

range(0, 10)

In [26]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 3.1.2.1 要素の追加と削除（Adding and removing elements）

In [27]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [28]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [29]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [30]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [31]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [32]:
'dwarf' in b_list

True

In [33]:
'dwarf' not in b_list

False

#### 3.1.2.2 リストの連結（Concatenating and combining lists）

In [34]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [35]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

extendの方が、+よりも高速
```python
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
```

```python
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
```

#### 3.1.2.3 ソート（Sorting）

In [36]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [37]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### 3.1.2.4 二分探索とソートされたリストの管理（Binary search and maintaining a sorted list）

In [39]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [40]:
bisect.bisect(c, 5)

6

In [41]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### 3.1.2.5 スライシング（Slicing）

In [42]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [43]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [44]:
seq[:5]

[7, 2, 3, 6, 3]

In [45]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [46]:
seq[-4:]

[5, 6, 0, 1]

In [47]:
seq[-6:-2]

[6, 3, 5, 6]

In [50]:
# 2つ目のコロンの後にStepを指定
seq[::2]

[7, 3, 3, 6, 1]

In [49]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### 3.1.3 組み込みのシーケンス関数（Built-in Sequence Functions）

#### 3.1.3.1 enumerate関数（enumerate）
インデックスと値をシーケンスにしたものを戻す

```python
i = 0
for value in collection:
   # do something with value
   i += 1
```

```python
for i, value in enumerate(collection):
   # do something with value
```

In [51]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [52]:
type(mapping)

dict

#### 3.1.3.2 sorted関数（sorted）
シーケンスの要素をソートした新しいリストを戻す

In [54]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [55]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### 3.1.3.3 zip関数（zip）

In [56]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [60]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [61]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

リストやタプルの前にアスタリスクを1つつけると、リストやタプルが分解されて、それぞれ1つの引数として使われます。

ここでは、zip(\*pitchers)と指定すると、zip1(pitchers[0],pitchers[1],pitchers[2])と展開され、3つのタプルをzip化することになります。

In [63]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [64]:
last_names

('Ryan', 'Clemens', 'Curt')

#### 3.1.3.4 reversed関数（reversed）

In [65]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 3.1.4 ディクショナリ（dict）

In [66]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [67]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [68]:
d1['b']

[1, 2, 3, 4]

In [69]:
'b' in d1

True

In [70]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [71]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [72]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [73]:
ret = d1.pop('dummy')
ret

'another value'

In [74]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [75]:
list(d1.keys())

['a', 'b', 7]

In [76]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [77]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### 3.1.4.1 シーケンスからディクショナリを作る（Creating dicts from sequences）

下記のような処理はdict関数でできる
```python
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value
```

In [78]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### 3.1.4.2 ディクショナリのデフォルト値（Default values）

下記のような処理はgetメソッドでできる
```python
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
```

```pythin
value = some_dict.get(key, default_value)
```

In [79]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

上記処理をsetdefaultメソッドで簡略化できる
```python
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
```

In [80]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

組み込みのcollectionsモジュールには、defaultdictという便利を使えば、さらに簡単になる。
```python
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
```

In [81]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [86]:
type(by_letter)

collections.defaultdict

In [85]:
by_letter['a']

['apple', 'atom']

#### 3.1.4.3 ディクショナリで使えるキーの型（Valid dict key types）
ハッシュ可能である（ディクショナリのキーに使える）かをhash関数で調べられる

In [87]:
hash('string')

-6514570564321064998

In [88]:
hash((1, 2, (2, 3)))

1097636502276347782

In [90]:
hash((1, 2, [2, 3])) # fails because lists are mutable リストは変更可能なのでエラーになる

TypeError: unhashable type: 'list'

In [91]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [95]:
d[(1,2,3)]

5

### 3.1.5 set
順序付けされていない一意な要素の集合

In [96]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [97]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [98]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [99]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [100]:
a.intersection(b)

{3, 4, 5}

In [101]:
a & b

{3, 4, 5}

In [102]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [103]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [104]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [106]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [107]:
a_set.issuperset({1, 2, 3})

True

In [108]:
{1, 2, 3} == {3, 2, 1}

True

### 3.1.6 リスト、セット、ディクショナリの内包表記（List, Set, and Dict Comprehensions）

リストの内包表記
```python
[expr for val in collection if condition]
```

下記の代わりに上記で書ける
```python
result = []
for val in collection:
    if condition:
        result.append(expr)
```

In [109]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

ディクショナリの内包表記
```python
dict_comp = {key-expr: value-expr for value in collection if condition}
```

セットの内包表記
```python
set_comp = {expr for value in collection if condition}
```

In [110]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [112]:
# map関数を使い、さらに短く書ける
set(map(len, strings))

{1, 2, 3, 4, 6}

In [113]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### 3.1.6.1 ネストしたリスト内包表記（Nested list comprehensions）

In [114]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

```python
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
```

In [115]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [116]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

上記内包表記は下記処理と同じ
```python
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
```

In [117]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2 関数（Functions）

```python
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)
```

```python
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)
```

### 3.2.1 名前空間、スコープ、ローカル関数（Namespaces, Scope, and Local Functions）

関数が終了するとaは消失する
```python
def func():
    a = []
    for i in range(5):
        a.append(i)
```

In [1]:
def func():
    a = []
    for i in range(5):
        a.append(i)
func()
a

NameError: name 'a' is not defined

```python
a = []
def func():
    for i in range(5):
        a.append(i)
```

In [4]:
a = []
def func():
    for i in range(5):
        a.append(i)
func()
print(a)

[0, 1, 2, 3, 4]

In [3]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### 3.2.2 複数の値を戻す（Returning Multiple Values）

```python
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()
```

```python
return_value = f()
```

In [5]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c
a, b, c = f()
return_value =f()
print(a, b, c, return_value)
type(return_value)

5 6 7 (5, 6, 7)

tuple

```python
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}
```

In [6]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a':a, 'b':b, 'c':c}
rv = f()
print(rv)
type(rv)

{'a': 5, 'b': 6, 'c': 7}

dict

### 3.2.3 関数はオブジェクトである（Functions Are Objects）

データクリーニングで、次の文字列のリストの変換処理を例に

In [7]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

正規表現用の組み込みライブラリ re

In [8]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [9]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

より便利な方法に、文字列に適用したい操作のリストを作るやり方

In [11]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [12]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

何らかのシーケンスに対して関数を適用するmap関数の引数に関数を指定

In [13]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### 3.2.4 無名（ラムダ）関数（Anonymous (Lambda) Functions）

データ変換関数の多くは関数を引数に持つので、ラムダ関数は特にデータ分析で便利。

```python
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2
```

関数fを引数に持つ処理で、引数にlambda関数を使う
```python
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)
```

In [17]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

文字列のリストを、文字数でソートする例

In [14]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [15]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### 3.2.5 カリー化：引数の部分適用（Currying: Partial Argument Application）

```python
def add_numbers(x, y):
    return x + y
```

引数を1つ持つ新しい関数add_fiveを導き出す
```python
add_five = lambda y: add_numbers(5, y)
```

In [18]:
def add_numbers(x, y):
    return x + y
add_five = lambda y: add_numbers(5, y)
add_five(3)

8

組み込みのfunctoolsモジュールには、partial関数を使ってこの処理を簡素化する機能がある
```python
from functools import partial
add_five = partial(add_numbers, 5)
```

In [19]:
from functools import partial
add_five = partial(add_numbers, 5)
add_five(3)

8

### 3.2.6 ジェネレータ（Generators）

In [20]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [21]:
dict_iterator = iter(some_dict)
dict_iterator

In [22]:
list(dict_iterator)

['a', 'b', 'c']

ジェネレータは新しいイテレータを生成する簡単な方法。ジェネレータは一連の複数の結果を治安しながら戻す。

ジェネレータを作るためには、returnの代わりにyieldキーワードを関数内で使う

In [23]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

実際にジェネレータを呼び出しても、コードはすぐには実行されない。

In [24]:
gen = squares()
gen

ジェネレータに要素を要求すると、ジェネレータはコードを実行する。

In [25]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### 3.2.6.1 ジェネレータ式（Generator expresssions）

ジェネレータ式を作るためには、リスト内包表記で大括弧[]の代わりに、小括弧()で囲む。

In [28]:
gen = (x ** 2 for x in range(100))
gen

上記は下記と同じ
```python
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()
```

ジェネレータ式は、多くの場合、関数の引数としてリスト内包表記の代わりに使うことができる

In [29]:
sum(x ** 2 for x in range(100))

328350

In [30]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### 3.2.6.2 itertools module

標準ライブラリのitertoolsには、多くの一般的なデータアルゴリズム用のジェネレータがそろっている。

https://docs.python.jp/3/library/itertools.html

In [31]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator このnamesはジェネレータ

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### 3.2.7 エラーと例外の処理（Errors and Exception Handling）

In [33]:
float('1.2345')

1.2345

In [34]:
float('something')

ValueError: could not convert string to float: 'something'

In [35]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [36]:
attempt_float('1.2345')

1.2345

In [37]:
attempt_float('something')

'something'

In [38]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [39]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [40]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [41]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [42]:
attempt_float((1,2))

(1, 2)

```python
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()
```

```python
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()
```

#### 3.2.7.1 IPythonにおける例外（Exceptions in IPython）

%runでスクリプトを実行しているときに例外が発生した場合、IPythonはデフォルトですべてのスタックトレースを出力し、そのうち数行の関連する部分も出力する。

%xmodeコマンドを使うと、この内容の多さをPlain（標準）からVerbose（関数の引数の値などの情報などを含む）まで設定することができます。

エラーが発生してポストモーテムデバッグするときには、（%debugや%pdbを使って）このコールスタックのステップに入ることもできます。

```python
In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:
```

In [43]:
%run examples/ipython_bug.py

AssertionError:

## 3.3 ファイルとオペレーティングシステム（Files and the Operating System）

In [ ]:
%pushd book-materials

In [58]:
path = 'examples/segismundo.txt'
f = open(path)

```python
for line in f:
    pass
```

In [59]:
lines = [x.rstrip() for x in open(path)]
lines

['Sueﾃｱa el rico en su riqueza,',
 'que mﾃ｡s cuidados le ofrece;',
 '',
 'sueﾃｱa el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueﾃｱa el que a medrar empieza,',
 'sueﾃｱa el que afana y pretende,',
 'sueﾃｱa el que agravia y ofende,',
 '',
 'y en el mundo, en conclusiﾃｳn,',
 'todos sueﾃｱan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [60]:
f.close()

In [61]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [62]:
f = open(path)
f.read(10)

'Sueﾃｱa el '

In [63]:
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [64]:
f.tell()

10

In [65]:
f2.tell()

10

In [66]:
import sys
sys.getdefaultencoding()

'utf-8'

In [67]:
f.seek(3)

3

In [68]:
f.read(1)

'ﾃ'

In [69]:
f.close()
f2.close()

In [70]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [71]:
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sueﾃｱa el rico en su riqueza,\n',
 'que mﾃ｡s cuidados le ofrece;\n',
 'sueﾃｱa el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueﾃｱa el que a medrar empieza,\n',
 'sueﾃｱa el que afana y pretende,\n',
 'sueﾃｱa el que agravia y ofende,\n',
 'y en el mundo, en conclusiﾃｳn,\n',
 'todos sueﾃｱan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [72]:
import os
os.remove('tmp.txt')

### 3.3.1 ファイルにおけるバイトとUnicode（Bytes and Unicode with Files）

In [73]:
with open(path) as f:
    chars = f.read(10)
chars

'Sueﾃｱa el '

In [74]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [75]:
data.decode('utf8')

'Sueña el '

下記例では、データの4バイト目（インデックスで0から3）までをスライスしたうえでデコードしようとしていますが、4バイト目と5バイト目で、1つの文字ñをデコードすることができるので、エラーが発生しています。

In [76]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

文字コードの変換がうまくいかないらしい

In [97]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

UnicodeEncodeError: 'latin-1' codec can't encode characters in position 3-4: ordinal not in range(256)

In [92]:
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Sueï¾ï½±a

In [98]:
os.remove(sink_path)

In [80]:
f = open(path)
f.read(5)

'Sueﾃｱ'

In [81]:
f.seek(4)

4

In [82]:
f.read(1)

'ｱ'

In [83]:
f.close()

In [85]:
%popd

C:\Users\hk\GitHub\Hello-World\pydata-book
popd -> ~\GitHub\Hello-World\pydata-book

## 3.4 まとめ（Conclusion）